<% include partials/header %>
  <div class="container" style="margin-bottom:100px">

    <div class="row ">

      <div class="col-md-9">
        <!-- ===================Posts Go Here ============================ -->
          <% blogs.forEach(function(blog){ %>
            <div class="card animation-container animated fadeIn shadow" style="margin-top:20px;">
              <div class="row ">
                  <div class="col-lg-4 to-animate">
                    <img src="<%= blog.image %>" class="w-100 img-responsive">
                  </div>
                  <div class="col-lg-8">
                    <div class="card-block " >
                      <h4 class="card-title to-animate" style="margin-top:10px;"><%= blog.header %></h4>
                      <p class="card-text to-animate" style="margin-bottom:30px;"><%- blog.description.slice(0,100) %></p>
                      <div class="row" >
                        <div class=" col-sm-6 card-text to-animate" >
                          <% blog.socities.forEach(function(socity){ %>
                            <form class="filterLinkForm" action="/blog/filter" method="post">
                              <button class="filterLink btn btn-outline-success"  name="filter[<%= socity %>]" value="<%= socity %>">#<%= socity %></button>
                              <!-- <a class="filterLink" href="#">#<%= socity %></a> -->
                            </form>

                          <%})%>
                        </div>

                        <div class="col-sm-6" >
                          <div style="margin-bottom: 10px;">
                            <% if (currentuser){%>
                              <form style="display:inline;" action="/blog/<%= blog._id %>?_method=DELETE" method="post">
                                <button style="padding:6 6 6 6" class="btn btn-outline-primary to-animate" type="submit" >Delete</button>
                              </form>

                              <a style="padding:6 6 6 6" href="/blog/<%= blog._id %>/edit" class="btn btn-outline-danger to-animate" >Edit</a>
                              <a  href="/blog/<%= blog._id %>" class="btn  btn-primary to-animate" >Read More</a>
                            <%} else{%>
                              <a  href="/blog/<%= blog._id %>" class="btn  button-relative btn-primary to-animate" >Read More</a>
                            <% } %>
                          </div>
                        </div>
                    </div>

                    </div>
                  </div>

                </div>
              </div>
            <% }) %>

        </div>

        <!-- =====================Filter section ========================== -->
        <div class="col-md-3" style="margin-top:20px;">
          <h4>Filter:</h4>
          <form id="filterform" class="animation-container" action="/blog/filter" method="post">
            <div class="accordion" id="filter">
              <% socities.forEach(function(socity,index){%>
                <div class="card to-animate">
                  <div class="" id="heading<%=index%>">

                    <button class="btn btn-sucess collapsed" style="width:100%;" type="button" data-toggle="collapse" data-target="#collapse<%=index%>" aria-expanded="false" aria-controls="collapse<%=index%>">
                      <!-- <input type="checkbox"  name="filter[<%=socity.name%>-main]" value="<%=socity.name%>">   <%=socity.name%></input> --><%=socity.name%>
                      <% if (currentuser){%>
                        <a class="btn btn-outline-warning btn-sm" href="/socity/<%= socity._id %>">edit</a>

                        <form style="display:inline-block;margin-bottom:0;" class="" action="/socity/<%= socity._id %>?_method=DELETE" method="post">
                          <input type="submit" class="btn btn-outline-danger btn-sm" value="delete">
                          <!-- <button type="submit" class="btn btn-outline-danger btn-sm">delete</button> -->
                        </form>

                      <%}%>
                    </button>
                  </div>
                  <div class="collapse " id="collapse<%=index%>"  aria-labelledby="heading<%=index%>" data-parent="#filter" >
                    <div class="card-body">
                        <label><li id="<% socity.name + index %>" class="list-group-item subcategory"><input type="checkbox" name="all" value="<%= socity.name %>">   All</li></label>
                       


                        <% socity.activities.forEach(function(activity,activityIndex){ %>
                        <label><li class="list-group-item subcategory"><input type="checkbox" name="filter[<%=activity%>]" value="<%=activity%>">   <%= activity%></li></label>
                        
                        <%})%>
                    </div>
                  </div>
                </div>
              <%})%>
            </div>
            <% if (currentuser){%>
              <a class="btn btn-outline-success btn-sm btn-block" href="/socity/new">ADD</a>
            <%}%>
            <button type="submit" class="btn btn-success btn-block" style="display: none;">Filter</button>
          </form>

        </div>

      </div>

    </div>



  </div>



<% include partials/footer%>
