<% include partials/header %>
  <div class="container">

    <div class="row ">

      <div class="col-md-9">
        <!-- ===================Posts Go Here ============================ -->
<!-- https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400 -->
          <% blogs.forEach(function(blog){ %>
            <div class="card animation-container animated fadeIn" style="margin-top:20px;">
              <div class="row ">
                <div class="col-md-4 to-animate">
                    <img src="<%= blog.image %>" class="w-100">
                  </div>
                  <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                      <h4 class="card-title to-animate" style="margin-top:10px;"><%= blog.header %></h4>
                      <p class="card-text to-animate" style="padding-bottom:30px;"><%= blog.description.slice(0,100) %></p>
                      <div class="class="card-text to-animate" style="position:absolute;bottom:0;"">
                        <% blog.socities.forEach(function(socity){ %>
                        <a href="#">#<%= socity %></a>
                        <%})%>
                      </div>

                      <div class="" style="position:absolute;right:20;bottom:5;">
                        <% if (currentuser){%>
                          <form style="display:inline;" action="/blog/<%= blog._id %>?_method=DELETE" method="post">
                            <button class="btn btn-outline-primary to-animate" type="submit" >Delete</button>
                          </form>

                          <a href="/blog/<%= blog._id %>/edit" class="btn btn-outline-danger to-animate" >Edit</a>
                        <%}%>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary to-animate" >Read More</a>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            <% }) %>

        </div>

        <!-- =====================Filter section ========================== -->
        <div class="col-md-3" style="margin-top:20px;">
          <h4>Filter:</h4>
          <form class="animation-container" action="index.html" method="post">
            <div class="accordion" id="filter">
              <% socities.forEach(function(socity,index){%>
                <div class="card to-animate">
                  <div class="" id="heading<%=index%>">

                    <button class="btn btn-sucess collapsed" style="width:100%;" type="button" data-toggle="collapse" data-target="#collapse<%=index%>" aria-expanded="false" aria-controls="collapse<%=index%>">
                      <input type="checkbox" name="" value="">   <%=socity.name%>
                    </button>
                  </div>
                  <div class="collapse " id="collapse<%=index%>"  aria-labelledby="heading<%=index%>" data-parent="#filter" >
                    <div class="card-body">
                        <% socity.activities.forEach(function(activity,activityIndex){ %>
                        <li class="list-group-item subcategory"><input type="checkbox" name="<%=socity.name%>-sub<%=activityIndex%>" value="">   <%= activity%></li>
                        <%})%>
                    </div>
                  </div>
                </div>
              <%})%>



            </div>



            <!-- <ul class="list-group animation-container">
              <ul class="list-group-item list-group-flush to-animate main-category"><input type="checkbox" class="main-category" name="CS" value="">   CS
                <li class="list-group-item subcategory"><input type="checkbox" name="CS-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="CS-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="CS-sub" value="">SubCat</li>
              </ul>
              <ul class="list-group-item list-group-flush to-animate main-category"><input type="checkbox" class="main-category" name="RAS" value="">   Ras
                <li class="list-group-item subcategory"><input type="checkbox" name="RAS-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="RAS-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="RAS-sub" value="">SubCat</li>
              </ul>
              <ul class="list-group-item list-group-flush to-animate main-category"><input type="checkbox" class="main-category" name="ETC" value="">   Etc
                <li class="list-group-item subcategory"><input type="checkbox" name="ETC-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="ETC-sub" value="">SubCat</li>
                <li class="list-group-item subcategory"><input type="checkbox" name="ETC-sub" value="">SubCat</li>
              </ul>

            </ul>
            <button type="submit" class="btn btn-success animated fadeInUp" style="width:100%;">Refine</button> -->
          </form>

        </div>

      </div>

    </div>



  </div>



<% include partials/footer%>
