<% include partials/header %>

<div class="row">
  <div class="col-sm-12">
    <h1 style="text-align: center;">Edit a Blog</h1>
  </div>

    <div class="col-md-7 col-sm-10" style=" margin: 25px auto;">
        <form action="/blog/<%= blog._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="post[header]" value="<%= blog.header %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="post[image]" value="<%= blog.image %>">
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="post[description]" value="<%= blog.description %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="post[socities]" value="<%= blog.socities.join(" ") %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds" >Go Back</a>
    </div>
</div>

<% include partials/footer %>
