<% include ../partials/header %>
<style media="screen">

  #description-blog{
    padding: 20px 10px 20px 0px;
  }
</style>
<div class="container" style="margin-bottom:80px">
  <div class="row">
    <div class="col-md-8" style="margin-top:20px">
      <div class="card" >
          <!--  ====================== card headder icon and basic info =========  -->

            <div id="header-image" style="position:relative">
              <img style="width:100%;filter: brightness(30%)" src="<%= blog.image %>" alt="">
              <h4 style="position:absolute;left:15px;bottom: 5px;color:#fff"><%= blog.header %></h4>
            </div>

            <div id="description-blog" class="card-block px-3">
              <p class="card-text " style="padding-bottom:30px;"><%= blog.description %></p>
            </div>


          </div>

        </div>


      <div class="col-md-4" style="margin-top:20px">
        <div class="card">
          <img src="<%= socity.logo%>" class="card-img-top" alt="">
          <h5 class="card-title" style="margin:10px 0 0 5px"><%= socity.name%> Socity</h5>
          <p class="card-text" style="margin:10px 0 20px 5px"><%= socity.description%></p>
          <!-- <a href="#" class="btn btn-primary">See More!</a> -->
        </div>
        <!-- <a href="#" style="margin-top :10px;"class="btn btn-outline-success btn-block "> SignUp!</a> -->
      </div>
  </div>
</div>

<% include ../partials/footer %>
